
<h3>Liste des fichiers <button type="button" class="btn btn-danger"><a routerLink="/runs/addfile">Nouveau fichier</a></button>
</h3>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let activity of activities">
      <h3>{{ activity.name }}</h3>
      <p> {{activity.description}}</p>
    </li>
</ul>