<div class="main-content" id="image">
  <div class="container">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6" id="login">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Login</h4>
                  </div>
                  <div class="content">
                            <div class="welcome-text">
                              <h3>We're glad to see you again!</h3>
                              <span>Don't have an account? <a [routerLink]="'/register'" class="register-tab">Sign Up!</a></span>
                          </div>
                      <form #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)" method="post">
                        <div class="alert alert-danger" *ngIf="error">Incorrect Username or Password</div>
                           <div class="row">
                              <div class="col-md-5">
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Email address</label>
                                      <input type="email" name = "email"  class="form-control" placeholder="Email" ngModel  id ="emailaddress" required>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-5">
                                  <div class="form-group">
                                      <label>Password</label>
                                      <input type="Password" name="password" class="form-control" placeholder="Password" ngModel>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-4">
                                <a href="#" > Forgot Password?</a>
                              </div>
                          </div>

                          <button type="submit" class="btn btn-info btn-fill pull-right" value = "submit" >Log In</button>
                          <div class="clearfix"></div>
                      </form>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-3"></div>
      </div>
  </div>
</div>
