<div *ngIf="!loading">
    <button class="btn btn-danger" (click)="onBack()">Back</button>

    <div class="container">
        <a href="file.fileUrl">{{ file.fileUrl }}</a>
        <h4>{{ file.name }}</h4>
        <button class="btn btn-success m-1" (click)="onTreat()">Traitement</button>
        <button class="btn btn-success m-1" (click)="onDelete()">Supprimer</button>
    </div>
</div>