<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" >{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-dashboard"></i>
                        <p class="hidden-lg hidden-md">{{getTitle()}}</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-search"></i>
                        <p class="hidden-lg hidden-md">Search</p>
                    </a>
                </li>
                <li>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-inline">

                        <input type="file" name="profile" (change)="onChange($event)" class="form-control"/>
                        <button type="submit" class="btn btn-primary">Correct gpx track</button>
                    
                      </form>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" *ngIf="isAuth" (click)="logout()">
                        <p>Log out</p>
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/user'" *ngIf="isAuth">{{ currentUser.user.username }}</a>
                </li>
                <li>
                    <a *ngIf="!isAuth" [routerLink]="'/login'">
                        <p>Log In / Register</p>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>
