
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="#" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>
            Creative Tim
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li *ngIf="isMobileMenu()">
           <a>
                <i class="fa fa-search"></i>
				<p class="hidden-lg hidden-md">Search</p>
            </a>
        </li>
        <li *ngIf="isMobileMenu()">
            <a (click)="logout()" *ngIf="isAuth" href="#">
                <p>Log out</p>
            </a>
        </li>
        <li>
            <a [routerLink]="'/user'" *ngIf="isAuth">
                <p>{{ currentUser.user.username }}</p>
            </a>
        </li>
        <li *ngIf="isMobileMenu() && !isAuth">
            <a *ngIf="!isAuth" [routerLink]="'/login'">
                <p>Log In / Register</p>
            </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuth" class="{{UserInfo.class}}">
            <a  [routerLink]="[UserInfo.path]">
                <i class="{{UserInfo.icon}}"></i>
                <p>{{UserInfo.title}}</p>
            </a>
        </li>
    </ul>
</div>
