<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Register</h4>
                  </div>
                  <div class="content">
                      <form>
                          <div class="row">
                              <div class="col-md-9">
                                  <div class="form-group">
                                      <label>Name</label>
                                      <input type="text" class="form-control">
                                  </div>
                              </div>
                            </div>
                          
                           <div class="row">
                              <div class="col-md-9">
                                  <div class="form-group">
                                      <label>Username</label>
                                      <input type="text" class="form-control">
                                  </div>
                              </div>
                          </div>


                          <div class="row">
                              <div class="col-md-9">
                                  <div class="form-group">
                                      <label>Email address</label>
                                      <input type="email" class="form-control" >
                                  </div>
                                </div>
                          </div>

                          <div class="row">
                                <div class="col-md-9">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>
                          </div>
                          <div class="row">
                                <div class="col-md-9">
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>
                          </div>
                          <button type="submit" class="btn btn-info btn-fill pull-right">Register</button>                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
